<footer class="footer__base">
    <ul class="footer__content">
        <li class="footer__option">
            <a class="footer__link" href="https://abc6xyz.com" target="_blank" title="Visit abc6xyz">
                <img class="footer__linkIcon" src="abc6xyz/abc6xyz-t-e-32.png" aria-hidden="true" />
                <span class="footer__linkText" id="author">By abc6xyz</span>
            </a>
        </li>

        <li class="footer__option">
            <a class="footer__link" href="https://github.com/abc6xyz/circular-slot-machine" target="_blank" title="Visit GitHub Repo">
                <img class="footer__linkIcon" src="github/github-s-e-16.png" aria-hidden="true" />
                <span class="footer__linkText" id="github">GitHub</span>
            </a>
        </li>

        <li class="footer__optionSpacer"></li>

        <li class="footer__option">
            <button class="footer__button footer__modalButton" title="Pay Table" id="togglePayTable" aria-label="Pay Table">
                <span class="footer__buttonIcon" aria-hidden="true">🏆</span>
            </button>
        </li>

        <li class="footer__option">
            <button class="footer__button footer__modalButton" title="Instructions" id="toggleInstructions" aria-label="Instructions">
                <span class="footer__buttonIcon" aria-hidden="true">ℹ️</span>
            </button>
        </li>

        <li class="footer__option">
            <button class="footer__button footer__toggleButton" id="toggleSound">
                <span class="footer__buttonIcon" aria-hidden="true">🔊</span>
            </button>
        </li>

        <li class="footer__option">
            <button class="footer__button footer__toggleButton" id="toggleVibration">
                <span class="footer__buttonIcon" aria-hidden="true">🍆</span>
            </button>
        </li>
    </ul>
</footer>
